<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Occurred</title>
</head>
<body>
    <main>
        <header>Uh oh... an error occurred</header>
        <section>
            <section>
                {{ if .ErrorMessage }}
                <p>An error occurred: {{ .ErrorMessage }}</p>
                {{ else }}
                <p>An unexpected error occurred.</p>
                {{ end }}
            </section>
            {{ if .SupportContact }}
            <section>
                <p>If this continues to occurr please contact {{ .SupportContact }} with the request id {{ .RequestID }}</p>
            </section>
            {{ end }}
        </section>
    </main>
</body>
</html>